body{
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #ccc
}
.container{
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.8);
	padding: 20px;
	text-align: center;
}

h1{
	margin-top: 0;
	color: #333;
}
.upload-form{

margin-bottom: 20px;

}
.file-label{

	display: block;
	background-color: #007bff;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	padding: 10px 20px;
	margin-bottom: 10px;
	transition: background-color 0.3s ease;
}
.file-label:hover{
	background-color: #0056b3;

}

#audioFile{
	display: none;
}
input[type="text"]{
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#uploadButton:hover{
	background-color: #0056b3;
}
.categories{
	margin-bottom: 20px;
}

.category-button{
	background-color: #e0e0e0;
	border: none;
	border-radius: 5px;
	color: #333;
	cursor: pointer;
	padding: 5px 10px;
	margin-right: 10px;
	transition: background-color 0.3s ease;
}
.category-button.active{
	background-color: #007bff;
	color: #fff;

}

.audio-list{
	display: grid;
	gap: 10px;
}
.audio-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.audio-item audio {
  margin-right: 10px;
}

.audio-item p {
  margin: 0;
  font-size: 14px;
  color: #666;
}


